@CHARSET "UTF-8";
td{
	vertical-align:middle;
}

.inprogress{
	background:#ff5050;
}
.complete{
	background:#99ffcc;
}
.premature{
	background:#6699ff;
}
.statusbox{
	height:30px;
	width:120px;
	padding: 10px;
	display: table-cell;
	vertical-align:middle;
}
.divider{
	width:5px;
    height:5;
    display:inline-block;
}


.btn-pos{
	display: table-cell;
	vertical-align: middle;
}
