@CHARSET "UTF-8";
td{
	vertical-align:middle;
}

.inprogress{
	background:#ff5050;
}
.complete{
	background:#99ffcc;
}
.premature{
	background:#6699ff;
}
.statusbox{
	height:30px;
	width:120px;
	padding: 10px;
	display: table-cell;
	vertical-align:middle;
}
.divider{
	width:5px;
    height:5;
    display:inline-block;
}


.btn-pos{
	display: table-cell;
	vertical-align: middle;
}


* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 142px; 
}
.site-footer {
  background: #cacaca;
}


