<div class="alert alert-danger" ng-show="controller.error">
	<strong>Fail!</strong>There was a problem of adding this procurement order.
</div>
<div class="alert alert-success" ng-show="controller.success">
	<strong>Success!</strong>new procurement order has been logged.
</div>

<form role="form" ng-submit="controller.addNewOrder()">
	<div class="form-group">
		<label for="summary">Summary :</label> <input type="text" required
			class="form-control" id="summary" name="summary" ng-model="controller.newOrder.summary"/>
	</div>
	<div class="form-group">
		<label for="manufactoryOrderId">Manufacture S/N :</label> <input type="text" required
			class="form-control" id="manufactoryOrderId" name="manufactoryOrderId" ng-model="controller.newOrder.manufactoryOrderId"/>
	</div>
	<div class="form-group">
		<label for="status">Status</label>
		<select id="status" name="status" >
			<option value=0>Pre Mature</option>
			<option value=1>In Progress</option>
			<option value=2>Complete</option>
		</select>
	</div>
	

	
	
	<button type="submit" class="btn btn-primary"> + Add</button>
	<button type="submit" class="btn btn-primary"  onclick="location.href='#/products';"> Back</button>
</form>
<script></script>