
<div class="alert alert-success" ng-show="controller.success">
	<strong>Success! </strong> {{controller.actionMsg}}
</div>
<div class="alert alert-danger" ng-show="controller.error">
	<strong>Fail!</strong>{{controller.actionMsg}}
</div>
<div class="page-header">
	<h3>Product List</h3>
</div>
<div class="button-group">
	<button type="button" class="btn btn-primary"  onclick="location.href='#/add_product';">Add Product</button>
	<button type="button" class="btn btn-primary">Generate PDF</button>
</div>
<div>
	<table st-table="controller.displayCollection" class="table table-striped table-align" st-safe-src="controller.rowCollection" >
		<thead>
		<tr>
			<th></th>
			<th st-sort="id">Product ID</th>
			<th st-sort="name">Product Name</th>
			<th st-sort="fob">F.O.B</th>
		</tr>
		<tr>
			<th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="row in controller.displayCollection">
			<td cs-select="row"></td>
			<td>{{row.id}}</td>
			<td>{{row.name}}</td>
			<td  align="right">{{row.fob | currency}}</td>
			<td>
				<button type="button" ng-click="controller.removeItem(row)" class="btn btn-xs btn-danger btn-pos">
					<span class="glyphicon glyphicon-remove-circle"></span>
				</button>
			</td>
		</tr>
		</tbody>
	</table>
</div>