
<style>
.lefttd {
  border-left: solid 1px #bdbdbd;
}

.bottomtd{
	border-bottom: solid 1px #bdbdbd;
}
.righttd{
	border-right: solid 1px #bdbdbd;
}
.toptd{
	border-top: solid 1px #bdbdbd;
}


.nametd{
	padding:10px;
}
.trpadding{
	padding-bottom:0px;
	padding-top:0px;
}
.stable{
  border-collapse:collapse;

}

      
</style>

<table class="stable" cellspacing="0" cellpadding="0" border="0">
	<tr class="trpadding">
		<td class="">7 May 2016 22:10</td>
		<td class="lefttd" ><img alt="" src="/img/line.png"></td>
	    <td class="nametd">Jacky</td>
	    <td ><img alt="" src="/img/pointer.png"></td>
	    <td class="lefttd toptd righttd nametd">
	   		<span style="float: left"><strong>Contract Sign-off</strong></span>
  			<span style="float: right">
  				<button type="button" ng-click="" class="btn btn-xs btn-danger btn-pos">
						<i class="glyphicon glyphicon-remove-circle"></i>
				</button>
							<div class="divider"/>
		    	<button type="button" ng-click="" class="btn btn-xs btn-success btn-pos">
						<i class="glyphicon glyphicon-pencil"></i>
				</button>
  			</span>
	    </td>
  	</tr>
  	<tr>
  		<td></td>
  		<td class="lefttd"></td>
  		<td></td>
	    <td class="righttd"></td>
	    <td class="bottomtd righttd nametd">2016-06-09 14:46:00.289 DEBUG 1275 --- [nio-8080-exec-6] s.s.w.c.SecurityContextPersistenceFilter : SecurityContextHolder now cleared, as request processing completed
	    </td>
  	</tr>
  	
  	
  	<tr class="trpadding">
		<td class="">7 May 2016 22:10</td>
		<td class="lefttd" ><img alt="" src="/img/line.png"></td>
	    <td class="nametd">Jacky</td>
	    <td ><img alt="" src="/img/pointer.png"></td>
	    <td class="lefttd toptd righttd nametd">
	   		<span style="float: left"><strong>Contract Sign-off</strong></span>
  			<span style="float: right">
  				<button type="button" ng-click="" class="btn btn-xs btn-danger btn-pos">
						<i class="glyphicon glyphicon-remove-circle"></i>
				</button>
							<div class="divider"/>
		    	<button type="button" ng-click="" class="btn btn-xs btn-success btn-pos">
						<i class="glyphicon glyphicon-pencil"></i>
				</button>
  			</span>
	    </td>
  	</tr>
  	<tr>
  		<td></td>
  		<td class="lefttd"></td>
  		<td></td>
	    <td class="righttd"></td>
	    <td class="bottomtd righttd nametd">2016-06-09 14:46:00.289 DEBUG 1275 --- [nio-8080-exec-6] s.s.w.c.SecurityContextPersistenceFilter : SecurityContextHolder now cleared, as request processing completed
	    </td>
  	</tr>
  	
  	<tr class="trpadding">
		<td class="">7 May 2016 22:10</td>
		<td class="lefttd" ><img alt="" src="/img/line.png"></td>
	    <td class="nametd">Jacky</td>
	    <td ><img alt="" src="/img/pointer.png"></td>
	    <td class="lefttd toptd righttd nametd">
	   		<span style="float: left"><strong>Contract Sign-off</strong></span>
  			<span style="float: right">
  				<button type="button" ng-click="" class="btn btn-xs btn-danger btn-pos">
						<i class="glyphicon glyphicon-remove-circle"></i>
				</button>
							<div class="divider"/>
		    	<button type="button" ng-click="" class="btn btn-xs btn-success btn-pos">
						<i class="glyphicon glyphicon-pencil"></i>
				</button>
  			</span>
	    </td>
  	</tr>
  	<tr>
  		<td></td>
  		<td class="lefttd"></td>
  		<td></td>
	    <td class="righttd"></td>
	    <td class="bottomtd righttd nametd">2016-06-09 14:46:00.289 DEBUG 1275 --- [nio-8080-exec-6] s.s.w.c.SecurityContextPersistenceFilter : SecurityContextHolder now cleared, as request processing completed
	    </td>
  	</tr>
  	
  	
  	<tr class="trpadding">
		<td class="">7 May 2016 22:10</td>
		<td class="lefttd" ><img alt="" src="/img/line.png"></td>
	    <td class="nametd">Jacky</td>
	    <td ><img alt="" src="/img/pointer.png"></td>
	    <td class="lefttd toptd righttd nametd">
	   		<span style="float: left"><strong>Contract Sign-off</strong></span>
  			<span style="float: right">
  				<button type="button" ng-click="" class="btn btn-xs btn-danger btn-pos">
						<i class="glyphicon glyphicon-remove-circle"></i>
				</button>
							<div class="divider"/>
		    	<button type="button" ng-click="" class="btn btn-xs btn-success btn-pos">
						<i class="glyphicon glyphicon-pencil"></i>
				</button>
  			</span>
	    </td>
  	</tr>
  	<tr>
  		<td></td>
  		<td class="lefttd"></td>
  		<td></td>
	    <td class="righttd"></td>
	    <td class="bottomtd righttd nametd">2016-06-09 14:46:00.289 DEBUG 1275 --- [nio-8080-exec-6] s.s.w.c.SecurityContextPersistenceFilter : SecurityContextHolder now cleared, as request processing completed
	    </td>
  	</tr>
</table>
